@import url(reset.css);

.spiritual_top{
    background-image: url(../images/banners/banner_spiritual.jpg);
    background-size: cover;
    background-position: center;
}

.spiritual_banner{
    display: flex;
    padding-top: 100px;

}

.spiritual_title h1{
    font-size: 200px;
    color: white;

}

.s1{
    margin-left: 20px;
}

.s2{
    margin-left: 300px;
}

.spiritual_banner .icon{
    display: flex;
    width: 300px;
    margin-top: 420px;


}

.spiritual_banner .icon li{
    flex-grow: 1;
}

.spiritual_banner .icon i{
    color: #ffefbd;
    font-size: 40px;
    width: 30px
}

.spiritual_banner .icon i:hover{
    color: #AC822B;

}


/* main */
.spiritual_main{
    background-image: url(../images/bg_spiritual.jpg);
    background-size: cover;
    background-position: center top;
}

.healing{
    width: 1000px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 150px;
}

.healing h2{
    text-align: center;
    color: #fff;

}

.healing span{
    display: block;
    width: 200px;
    height: 2px;
    background-color: #fff;
    margin: 10px auto;
    margin-bottom: 40px;
}

.heal{
    display: flex;
    flex-wrap: wrap;
}

.heal li{
    flex-grow: 1;
    width: 280px;
    height: 280px;
    border-radius: 25%;
    margin: 15px;
}




.heal1{
    background-image: url(../images/spiritual/heal1.jpeg);
    background-size: cover;
    background-position: center;
}

.heal2{
    background-image: url(../images/spiritual/heal2.jpeg);
    background-size: cover;
    background-position: center;
}

.heal3{
    background-image: url(../images/spiritual/heal3.jpg);
    background-size: cover;
    background-position: center;
}

.heal4{
    background-image: url(../images/spiritual/heal1.jpeg);
    background-size: cover;
    background-position: center;
}

.heal5{
    background-image: url(../images/spiritual/heal2.jpeg);
    background-size: cover;
    background-position: center;
}

.heal6{
    background-image: url(../images/spiritual/heal3.jpg);
    background-size: cover;
    background-position: center;
}


.heal div{
    display: block;
    width: 100%;
    height: 200px;
    border-radius: 25%;
    text-align: center;
    opacity: 0;
    margin: 0 auto;
    color: #ffefbd;
    padding-top: 80px;

}

.heal div:hover{
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 100;

}

.heal h3{}

.heal span{
    width: 50px;
    display: block;
    background-color: #AC822B;
}

.heal h4{
    color: #ffefbd;
}

.heal i{
    color: #ffefbd;
}

.heal a{
    color: #AC822B;
}

.heal a i{
    color: #AC822B;
}

/*      Fire Ritual      */

.fire{
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 150px;
}

.fire h2{
    color: #fff;
    text-align: center;
}

.fire span{
    display: block;
    width: 200px;
    height: 2px;
    background-color: #fff;
    margin: 10px auto;
    margin-bottom: 40px;
}

.ritual{
    width: 1000px;
}

.ritual li{
    margin-bottom: 15px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.8);

}


.fire1{
    display: flex;
}

.fire2{
    display: flex;
}

.fire3{
    display: flex;
}

.fire_img{
    width: 300px;
    height: 200px;
}

.fire1 .fire_img{
    background-image: url(../images/spiritual/fire1.jpg);
    background-size: cover;
    background-position: center;
}

.fire2 .fire_img{
    background-image: url(../images/spiritual/fire2.jpeg);
    background-size: cover;
    background-position: center;
}

.fire3 .fire_img{
    background-image: url(../images/spiritual/fire3.jpeg);
    background-size: cover;
    background-position: center;
}


.fire_content{
    width: 800px;
    height: 200px;
    margin-left: 20px;
    overflow: hidden;
    padding-top: 10px;
}

.fire_content h3{
    color: #855324;
    margin-top: 5px;
}

.fire_content span{
    margin: 10px auto 10px 0;
    width: 50px;
    background-color: #AC822B;
}

.fire_content p{
    padding-right: 15px;
    margin-bottom: 20px;
    color: #855324;
    font-size: 15px;
}

.linkmore{

}

.linkmore a{
    color: #AC822B;
}


.linkmore i{

}


/*      Meditate      */

.meditation{
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 150px;
}

.meditation h2{
    color: #fff;
    text-align: center;
}

.meditation span{
    display: block;
    width: 200px;
    height: 2px;
    background-color: #fff;
    margin: 10px auto;
    margin-bottom: 40px;
}

.meditate{
    width: 1000px;
}

.meditate li{
    margin-bottom: 15px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.8);

}


.medi1{
    display: flex;
}

.medi2{
    display: flex;
}

.medi3{
    display: flex;
}

.medi_img{
    width: 300px;
    height: 200px;
}

.medi1 .medi_img{
    background-image: url(../images/spiritual/med1.jpg);
    background-size: cover;
    background-position: center;
}

.medi2 .medi_img{
    background-image: url(../images/spiritual/med2.jpeg);
    background-size: cover;
    background-position: center;
}

.medi3 .medi_img{
    background-image: url(../images/spiritual/med3.jpg);
    background-size: cover;
    background-position: center;
}


.medi_content{
    width: 800px;
    height: 200px;
    margin-left: 20px;
    overflow: hidden;
    padding-top: 10px;
}

.medi_content h3{
    color: #855324;
    margin-top: 5px;
}

.medi_content span{
    margin: 10px auto 10px 0;
    width: 50px;
    background-color: #AC822B;
}

.medi_content p{
    padding-right: 15px;
    margin-bottom: 20px;
    color: #855324;
    font-size: 15px;
}